name: Check code
on:
  push:
    branches: main
  pull_request:
    branches: main
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup pnpm environment
        uses: ./.github/actions/setup-pnpm-environment
      - name: Build project with Vite
        uses: ./.github/actions/build-project
      - name: Synchronize files with Svelte Kit
        run: pnpm exec svelte-kit sync
      - name: Check code with Svelte Check
        run: pnpm exec svelte-check --tsconfig ./tsconfig.json
