name: e2e tests
on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  setup:
    uses: ./.github/workflows/setup.yml

  test:
    needs: setup
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Build project
        run: pnpm exec vite build
      - name: Run Playwright tests
        run: pnpm exec playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
