name: Test unit
on:
  push:
    branches: main
  pull_request:
    branches: main
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup pnpm environment
        uses: ./.github/actions/setup-pnpm-environment
      - name: Install Playwright browsers
        uses: ./.github/actions/install-playwright-browsers
      - name: Run Vitest tests
        run: pnpm exec vitest --browser.headless=true
